/* Main Styling */
body {
  font-size: 1.1rem;
}

/* Utilities */
.artist {
  display: block;
}

/* Banner */
.banner-container {
  text-align: center;
  width: 175px;
}

.banner-container img {
  width: 175px;
  margin: auto;
}

#banner {
  max-width: 90%;
}

#banner h1 {
  display: none;
}

/* Releases */
#official-releases img {
  display: block;
  float: none;
  width: 80%;
  border: none;
  margin: auto;
  margin-bottom: 0px;
}

#official-releases .str-release h3 {
  font-size: 1.4rem;
  text-align: center;
}

#official-releases .str-release .release-info {
  text-align: center;
}

#official-releases .release-info {
  font-size: 1rem;
}

#official-releases .purchase a {
  font-size: 1rem;
}

#official-releases .str-release {
  margin: 7px 5% 9px 5%;
  padding: 15px;
  width: 85%;
  max-height: 1000px;
  color: #fff;
  overflow: auto;
  border-top-left-radius: 10px;
}

#official-releases .str-release.bottom {
  margin: 7px 5% 31px 5%;
  padding: 15px;
  width: 85%;
  max-height: 750px;
  color: #fff;
  overflow: auto;
  border-top-left-radius: 10px;
}

#official-releases .double-cover-container a {
  display: flex;
}

#official-releases .double-cover-container a img {
  width: 150px;
}

/* History */
#history .history-box {
  text-align: center;
  margin: 11px auto;
  padding: 15px;
  width: 90%;
  border: 1px solid #555;
  color: #fff;
  border-radius: 10px;
}

/* News */
#news .news-box {
  margin: 11px auto;
  padding: 15px;
  width: 90%;
  border: 1px solid #555;
  color: #fff;
  border-radius: 10px;
}

/* Contact */
#contact .form-box {
  padding: 15px;
  text-align: center;
  margin: 11px auto;
  width: 90%;
  color: #fff;
  border-radius: 10px;
}

#contact input {
  width: 100%;
}

#contact textarea {
  width: 100%;
}

#contact input[type="submit"] {
  width: 60%;
}